/* TokenCard.css */
.token-card {
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 1.8fr 1fr; /* Adjusted column sizes */
    align-items: center;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 8px;
    margin-bottom: 0px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    max-width: 550px; /* Further reduced max-width */
    width: 100%;
  }
  
  .token-column {
    padding: 0 8px;
    text-align: left;
  }
  
  .token-symbol {
    font-weight: bold;
    color: #333333;
    font-size: 16px; /* Slightly larger font for the symbol */
  }
  
  .token-amount {
    font-family: monospace;
    color: #4caf50;
  }
  
  .token-address {
    font-family: monospace;
    color: #555555;
    cursor: pointer;
    position: relative;
  }
  
  .token-address:hover .copy-status {
    visibility: visible;
    opacity: 1;
  }
  
  .copy-status {
    font-size: 12px;
    color: #007bff;
    margin-left: 4px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.2s linear;
  }
  
  .token-action {
    text-align: left;
  }
  
  .action-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
  }
  
  .action-button:hover {
    background-color: #0056b3;
  }
  