.wallet-display-container {
  display: inline-flex; /* Ensure the container is inline */
  align-items: center; /* Align items in the center vertically */
  margin-left: 10px; /* Some margin to the left for spacing */
}

.wallet-address {
  font-family: 'monospace';
  font-size: 14px;
  color: #ffffff; /* Gold color */
}

.copy-button {
  margin-left: 10px; 
  padding: 5px 10px; 
  background-color: #011002; 
  border: none; 
  color: white; 
  cursor: pointer; 
  font-size: 12px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.copy-button:hover {
  background-color: #011702; /* Slightly darker green on hover */
}

.copy-button:active {
  background-color: #123313; /* Even darker green on click */
}

/* WalletDetails.css */

.token-list-container {
  max-height: 600px; /* Set the maximum height for the scrollable area */
  overflow-y: auto; /* Enable vertical scrolling */
  border: 1px solid #e0e0e0; /* Optional: Add a border for separation */
  padding: 8px; /* Optional: Add padding inside the container */
}

.token-list {
  display: flex;
  flex-direction: column; /* Stack cards vertically */
  gap: 12px; /* Add space between cards */
}
