.ad-banner-container {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    z-index: 100;
    background-color: transparent;
  }
  
  .ad-banner {
    display: grid;
    grid-template-columns: 1fr 3fr; /* Caption takes 1 part, image/video takes 3 parts */
    align-items: center;
    max-width: 350px; /* Propose a max width for the entire banner */
    background-color: #333;
    padding: 8px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
  
  .ad-caption {
    font-size: 10px;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    padding-right: 8px;
    text-align: left;
    line-height: 1.2;
  }
  
  .ad-banner img,
  .ad-banner video {
    width: 100%;
    height: auto;
    object-fit: contain;
    max-width: 350px; /* Propose a max width for the image/video */
    max-height: 50px; /* Propose a max height for the image/video */
    border-radius: 4px;
  }
  
  .ad-banner-video {
    pointer-events: none;
    object-fit: contain;
  }
  
  @media (max-width: 768px) {
    .ad-banner {
      max-width: 100%;
      grid-template-columns: 1fr 2fr; /* Adjust for smaller screens */
    }
  }
  