body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(135deg, #6a11cb, #2575fc);
  color: #ffd700;
  font-family: 'VT323', monospace;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #ffd700;
  text-shadow: 2px 2px 4px #000;
}

.create-button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 1.5em;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 30px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  text-shadow: 1px 1px 3px #000;
}

.header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 600px;
  margin-bottom: 20px;
}

.refresh-button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 5px 15px;
  text-align: center;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
}

.room-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  width: 100%;
  max-width: 800px;
}

.room-card {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.room-details {
  margin-bottom: 20px;
  font-size: 1em;
}

.join-button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  max-width: 150px;
}

.choices {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

button {
  background: linear-gradient(45deg, #ff0047, #ff8a00, #fcdc4d, #28e0ae, #0044ff);
  border: none;
  color: white;
  padding: 15px 20px;
  font-size: 1em;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  text-shadow: 1px 1px 3px #000;
  font-family: 'Press Start 2P', cursive;
}

button:active {
  transform: scale(0.9);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

h3 {
  margin-top: 20px;
  font-size: 1.8em;
  color: #FFD700;
  text-shadow: 2px 2px 4px #000;
}

@media (max-width: 480px) {
  .App {
    padding: 10px;
  }

  .room-card {
    padding: 10px;
  }

  .join-button {
    padding: 5px 10px;
    font-size: 12px;
  }
}
